@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Comic+Relief:wght@400;700&family=Delius&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color:rgb(59, 58, 55);
    font-family: "BBH Sans Hegarty", sans-serif;
    letter-spacing: 4px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

h1 {
    font-size: 4em;
    width: 100%;
    text-align:center;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: rgb(189, 191, 195);
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h4 {
    font-size: 1.5em;
    width: 100%;
    padding-left: 2%;
    margin: 2%;
    position: relative;
    color: rgb(215, 210, 210);
    background-color: rgb(51, 50, 48);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

list {
    width: 100%;
    height: auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(225px, 2fr));
}

box {
    font-size: 4em;
    width: 13rem;
    height: 9rem;
    padding: 2%;
    text-align: center;
    background-color: black;
    border: solid 2px lightgray;
    border-radius: 12px;
    margin: 2%;
    cursor: pointer;
    transition: background-color 0.3s ease,
    transform 0.3s ease-in-out;
}
box:hover {
    background-color: grey;
    transform: scale(1.2);
}
footer {
    font-size: 2em;
    height: 100%;
    width: 100%;
    margin-top: 12%;
    text-align: center;
    position: relative;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1600px) {
    body {
        height: fit-content;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.2em;
    }

    footer {
        font-size: 1.2em;
    }
}